.DS_Store
provision-eks-cluster/.terraform.lock.hcl
provision-eks-cluster/.terraform/
provision-eks-cluster/.DS_Store
provision-eks-cluster/terraform.tfstate
provision-eks-cluster/terraform.tfstate.backup